body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    width: 800px;
    height: 500px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header, .footer {
    height: 60px;
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
    border-color: aqua;
}

.footer {
    margin-top: 10px;
    margin-bottom: 0;
    border-color: rgb(9, 226, 226);
}

.main-content {
    display: flex;
    flex: 1;
    border-color: rgb(236, 25, 25);
}

.left-box {
    width: 40%;
    border: 2px solid white;
    border-radius: 15px;
    margin-right: 10px;
}

.right-box {
    flex: 1;
    border: 2px solid white;
    border-radius: 15px;
}