*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
 .container{
    width:200vw;
    height: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.items{
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 2px solid black;
    margin: 10px;

}